@import "../../../../assets/scss/styles.scss";

.container {
  padding: 4rem;

  .card {
    width: 100%;

    .card-header {
      color: white;
      background-color: $marvel-red;
      padding: .75rem;

      .card-title {
        font-family: $marvel-font;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }

    .card-body {
      max-height: 30rem;
      overflow-y: auto;
      padding: 0;
      .table {
        padding: .75rem 1.25rem;
        thead th {
          font-family: $marvel-font;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          position: sticky;
          top: 0;
          border: none;
          color: white;
          background-color: $marvel-red;
        }

        tbody th, td {
          cursor: pointer;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 2rem;

    .card {
      .card-body {
        max-height: 100%;
        overflow-y: auto;
      }
    }
  }
}
