.container {
  margin-top: 8rem;
  padding: 4rem;
  border: 1px solid red;

  .card {
    .card-body {
      max-height: 20rem;
      overflow-y: auto;
    }
  }
}


@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 2rem;
  }
}
